.about .about-section-v1{
    background-image: none;
}s

.about .about-section-v1 .container p{
    margin: 0 0 20px 0;
}

.about .about-section-v1 .container{
    display: block;
}

.about #bio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0;
}

.about .about-section-v1 .container #rightCol p{
    margin: 0 0 20px 0;
}

.about #skills{
    margin: 100px auto;
    width: 90%;
}

.about #skills #skills-container{
    width: 100%;
    margin: 70px auto;
}

.about #skills #skills-container .row{
    display: flex;
    flex-flow: wrap;
}

.about #skills #skills-container .skill-card{
    width: 18%;
    height: 324px;
    box-shadow: 0px 0px 20px rgba(254, 209, 0, 0.25);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 3%;
}

.about #skills #skills-container .skill-card svg{
    font-size: 150px;
    color: #fed100;
}

.about #skills #skills-container .skill-card p{
    font-size: 30px;
    color: #fed100;
    font-weight: 500;
    padding: 30px 0 0 0;
}

.about #skills #skills-container .skill-card:hover{
    background-color: #fed100;
}

.about #skills #skills-container .skill-card:hover svg{
    color: #1b1b1b;
}

.about #skills #skills-container .skill-card:hover p{
    color: #1b1b1b;
    font-weight: 700;
}

@media screen and (max-width: 1440px){
    .about #bio{
        padding: 200px 0 0 0;
    }

    .about #skills #skills-container .skill-card{
        height: 250px;
    }

    .about #skills #skills-container .skill-card svg{
        font-size: 100px;
    }

    .about #skills #skills-container .skill-card p{
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px){
    .about #bio{
        flex-flow: column;
    }

    .about #skills #skills-container .skill-card{
        width: 44%;
    }

    .about #skills{
        width: 80%;
    }
}

@media screen and (max-width: 820px){
    .about #skills{
        padding: 0 0 100px 0;
    }
    
    .about #skills #skills-container{
        margin: 40px auto;
    }

    .about #skills #skills-container .skill-card{
        width: 100%;
        margin: 5% 0;
    }
}