.about #bio-banner{
    height: 1125px;
    width: 100%;
    background-image: url("./pic-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about #bio-banner .container{
    background-color: #1b1b1b;
    opacity: 0.85;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.about #bio-banner .container h1{
    font-size: 144px;
    color: #fed100;
    margin: 0 0 25px 0;
    font-weight: 700;
    line-height: 115px;
    text-align: center;
}

.about #bio-banner .container p{
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
}

.about #bio-description{
    height: auto;
    text-align: center;
    /**background: url("./cloud-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;**/
}

.about #bio-description .container{
    background-color: #1b1b1b;
    opacity: 0.90;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 100px 50px;
}

.about #bio-description p{
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
}

.about #work-experience{
    background-image: url("./nature-background-3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about #work-experience .container{
    background-color: #1b1b1b;
    opacity: 0.85;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 100px 0;
}

.about #work-experience h3{
    font-size: 48px;
    color: #fed100;
    text-align: center;
    width: 100%;
    margin: 0 0 15px 0;
}

.about #work-experience h2{
    font-size: 64px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 0 0 25px 0;
}

.about #work-experience hr{
    width: 183px;
    border: 1px solid #fed100;
}

@media screen and (max-width: 1440px){
    .about #bio-banner .container h1{
        font-size: 124px;
        line-height: 85px;
    }

    .about #bio-banner .container p{
        font-size: 26px;
    }
}

@media screen and (max-width: 1024px){
    .about #bio-banner .container h1{
        font-size: 104px;
    }

}

@media screen and (max-width: 820px){
    .about #bio-banner{
        height: 825px;
    }
    
    .about #bio-banner .container h1{
        font-size: 84px;
        line-height: 75px;
    }
}

@media screen and (max-width: 620px){
    .about #bio-banner .container h1{
        font-size: 64px;
    }
}