.about-section-v1{
    width: 100%;
    height: 1036px;
    background-image: url("./nature-background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-section-v1 .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    opacity: 0.95;
}

.about-section-v1 .container #profile-pic{
    background-image: url("./profile-pic.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 505px;
    height: 724px;
}

.about-section-v1 .container #leftCol{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section-v1 .container #rightCol{
    width: 55%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 50px 0 0;
}

.about-section-v1 .container h1{
    font-size: 144px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    color: #fed100;
}

.about-section-v1 .container p{
    font-size: 36px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

.about-section-v1 .container p b{
    color: #fed100;
}

/** Responsive **/
@media screen and (max-width: 1440px){
    .about-section-v1 .container #profile-pic{
        width: 305px;
        height: 524px;
    }

    .about-section-v1 .container h1{
        font-size: 124px;
    }

    .about-section-v1 .container p{
        font-size: 26px;
    }
}

@media screen and (max-width: 1024px){
    .about-section-v1 .container{
        flex-flow: column;
    }

    .about-section-v1 .container #leftCol{
        width: 80%;
    }

    .about-section-v1 .container #profile-pic{
        width: 100%;
        height: 424px;
    }

    .about-section-v1 .container h1{
        font-size: 104px;
    }

    .about-section-v1 .container #rightCol{
        width: 80%;
        margin: 30px 0 0 0;
        padding: 0;
    }
}

@media screen and (max-width: 620px){
    .about-section-v1{
        height: 1236px;
    }

    .about-section-v1 .container h1{
        font-size: 64px;
    }
}
/** END Responsive **/